.first-menu {
  display: flex;
  width: 90%;
  margin-top: 20px;
}
.book-img {
  border-radius: 10px;
  margin-right: 20px;
}
.book-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.book-intro__title {
  font-size: 20px;
  font-weight: 700;
}
.book-intro__name {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.2);
  margin: 10px 0px;
}

.book-into__img {
  border-radius: 10px;
  margin-right: 20px;
}
.book-intro__star {
  color: #ffce33;
}
.book-intro__classify {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.book-intro__classify-font {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 110px;
  height: 30px;
  border-radius: 5px;
  margin: 15px 5px 0px 0px;
}
.book-intro__function {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}
.book-intro__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #ffce33;
  border-radius: 50%;
}
.book-intro__read {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 130px;
  height: 40px;
  border-radius: 7px;
}
