.library {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 130px;
  background-color: #ffce33;
  padding: 0px 20px;
}
.library__font {
  font-size: 20px;
  font-weight: 600;
}
