.list-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 660px;
  background-color: white;
  border-radius: 20px;
  margin-right: 100px;
}

.list-screen__mainimg {
  filter: brightness(120%);
  border-radius: 50%;
  margin: 25px;
  box-shadow: 1px 1px 20px 1px rgba(224, 67, 46, 0.5);
}

.list-screen__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 10px;
}
.list-screen__btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 90px;
  height: 35px;
  border-radius: 30px;
}
.list-screen__btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 35px;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
.list-screen__playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.playlist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 60px;
}
.playlist__img {
  border-radius: 10px;
  margin-left: 20px;
}
.playlist__sicon-position {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 60px;
}
.playlist__sound-icon {
  position: absolute;
  color: white;
  left: 30px;
}
.playlist__name {
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  height: 25px;
  font-weight: 600;
  margin-left: 10px;
}
.plalist__title {
  font-size: 14px;
  font-weight: 700;
  margin: 10px;
}
.playlist__icon {
  position: relative;
  right: -60px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}
.playlist__border {
  position: relative;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
}
.list-screen-btn {
  display: flex;
  background-color: black;
  align-items: center;
  width: 90%;
  height: 50px;
  border-radius: 30px;
}
.list-btn__info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
}
.list-btn__name {
  font-size: 14px;
  color: #a1a09f;
  margin-bottom: 5px;
  font-weight: 600;
}
.list-btn__title {
  font-size: 14px;
  color: white;
}
.list-btn__icon {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 40%;
  height: 30px;
  margin-left: 20px;
}
.list-btn__icon-val {
  font-size: 5px;
  color: white;
  margin: auto;
}
