@import "reset.css";
@import "list-screen.css";
@import "song-screen.css";
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 100vh;
}
.screen__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 30px 0px 15px 0px;
}
.top__icon {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}
.bottom-of-img__bold-font {
  font-size: 23px;
  font-weight: 900;
}
.bottom-of-img__thin-font {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  margin: 20px;
  font-weight: 600;
}
