@import "reset.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-hearder.css";
@import "components/user-component.css";
@import "components/icon-and-title.css";
@import "components/no-mobile.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/setting.css";
@import "screens/talk.css";
.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #141519;
  align-items: center;
  height: 95vh;

  color: #2e363e;
}
.white-font {
  font-weight: 600;
  color: white;
}
/*
.friends-screen {
  background-image: url("배경3-1.jpg");
  background-size: 100% 100%;
}*/
